html {
  font-family: open-sans;
  font-weight: bold;
  background-color: #70a1ff;
  width: auto;
  height: auto;
}

#root {
  width: 100vw;
  height: 100vh;
}

.search-bar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin: auto;
}
.search-bar .search-bar-container {
  width: clamp(210px, 80%, 700px);
  height: 4vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.search-bar .search-bar-container #citysearch {
  width: clamp(210px, 100%, 800px);
  color: rgb(168, 168, 168);
  opacity: 0.5;
  position: relative;
  border-radius: 15px;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
}
.search-bar .search-bar-container .city-option-display {
  position: absolute;
  padding-top: 36px;
  width: clamp(18rem, 55vw, 60vw);
  overflow: scroll;
  z-index: 10;
  opacity: 0.7;
}
.search-bar .search-bar-container .city-button {
  border-radius: 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  text-align: center;
  font-size: clamp(0.5rem, 16px, 20px);
}

.header-container {
  position: relative;
  margin: auto;
  width: clamp(290px, 80vw, 700px);
  height: clamp(360px, 40vw, 430px);
}
.header-container .header-component {
  background-color: rgb(168, 168, 168);
  margin: auto;
  width: clamp(290px, 85%, 690px);
  height: clamp(300px, 98%, 400px);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

#city-name {
  font-size: clamp(20px, 2.5rem, 50px);
  margin: 0px;
}

#temperature-hero {
  font-size: clamp(40px, 5rem, 100px);
  margin-top: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#feels-like-text {
  font-size: 1.2rem;
  margin-bottom: 0px;
}

#max-low-text {
  font-size: 1.2rem;
  margin: 0px;
}

.hourly-weather-sec {
  width: clamp(150px, 70rem, 800px);
  height: clamp(150px, 20%, 300px);
  margin: auto;
  display: flex;
  justify-content: center;
}
.hourly-weather-sec .hourly-weather-cont {
  position: relative;
  width: clamp(2rem, 90vw, 580px);
  height: clamp(80px, 25vh, 155px);
  display: flex;
  overflow: auto;
  gap: 14px;
  align-items: center;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hourly-weather-sec .hourly-weather-cont .hourly-weather-elem {
  font-size: 16px;
  border: 5px solid;
  border-radius: 10px;
  text-align: center;
  width: clamp(80px, 5vw, 250px);
  height: clamp(115px, 10vh, 130px);
}
.hourly-weather-sec .hourly-weather-cont .hourly-weather-elem .weather-icon {
  width: 60px;
  height: 60px;
}

.hourly-weather-cont::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.daily-weather-sec {
  margin: auto;
  width: clamp(200px, 50vw, 300px);
  height: clamp(100px, 22vh, 200px);
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.daily-weather-sec .daily-weather-container {
  width: clamp(200px, 40vw, 300px);
  border: 2px solid;
  border-radius: 50px;
  align-content: center;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
  overflow: hidden;
}
.daily-weather-sec .daily-elem-box {
  inline-size: -moz-min-content;
  inline-size: min-content;
}
.daily-weather-sec .daily-weather-elem {
  text-align: center;
  font-size: clamp(0.3rem, 15px, 1rem);
}
.daily-weather-sec .daily-weather-elem .weather-icon-daily {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 767px) {
  #root {
    width: 100vw;
    height: 100vh;
  }
  .search-bar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: auto;
  }
  .search-bar .search-bar-container {
    width: clamp(210px, 50%, 800px);
    height: 4vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .search-bar .search-bar-container #citysearch {
    width: clamp(210px, 100%, 800px);
    color: rgb(168, 168, 168);
    opacity: 0.5;
    position: relative;
    border-radius: 15px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1.5rem;
  }
  .search-bar .search-bar-container .city-option-display {
    position: absolute;
    padding-top: 28px;
    width: clamp(18rem, 55vw, 60vw);
    overflow: scroll;
    z-index: 10;
    opacity: 0.7;
  }
  .search-bar .search-bar-container .city-button {
    border-radius: 0px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    font-size: clamp(0.5rem, 16px, 20px);
  }
  .header-container {
    position: relative;
    margin: auto;
    width: clamp(350px, 60vw, 800px);
    height: clamp(265px, 48vw, 270px);
  }
  .header-container .header-component {
    background-color: rgb(168, 168, 168);
    margin: auto;
    width: clamp(150px, 90%, 350px);
    height: clamp(150px, 16rem, 270px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding: auto;
  }
  #city-name {
    font-size: clamp(30px, 6vw, 30px);
    margin-bottom: 0;
  }
  #temperature-hero {
    font-size: clamp(55px, 10vw, 50px);
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  #feels-like-text {
    font-size: clamp(14px, 2vw, 3rem);
    margin: 0px;
  }
  #max-low-text {
    font-size: clamp(14px, 2vw, 3rem);
    margin-top: 0px;
  }
  .hourly-weather-sec {
    width: clamp(270px, 50vw, 600px);
    height: clamp(100px, 20%, 200px);
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .hourly-weather-sec .hourly-weather-cont {
    position: relative;
    margin-left: 5px;
    width: clamp(300px, 20rem, 580px);
    height: clamp(80px, 25vh, 8rem);
    display: flex;
    overflow: auto;
    gap: 12px;
    align-items: center;
  }
  .hourly-weather-sec .hourly-weather-cont .hourly-weather-elem {
    font-size: 13px;
    border: 3px solid;
    border-radius: 10px;
    text-align: center;
    width: clamp(70px, 4rem, 150px);
    height: clamp(80px, 2rem, 100px);
    margin: 0;
  }
  .hourly-weather-sec .hourly-weather-cont .hourly-weather-elem .weather-icon {
    width: clamp(30px, 2rem, 40px);
    height: clamp(30px, 2rem, 40px);
  }
  .daily-weather-elem {
    text-align: center;
    font-size: 13px !important;
    margin: 10px auto;
  }
  .daily-weather-elem .weather-icon-daily {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 860px) {
  .hourly-weather-sec {
    width: clamp(150px, 70rem, 800px);
    height: clamp(150px, 20%, 300px);
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .hourly-weather-sec .hourly-weather-cont {
    position: relative;
    width: clamp(2rem, 64.5vw, 580px);
    height: clamp(80px, 25vh, 155px);
    display: flex;
    overflow: auto;
    gap: 14px;
    align-items: center;
  }
  .hourly-weather-sec .hourly-weather-cont .hourly-weather-elem {
    font-size: 16px;
    border: 5px solid;
    border-radius: 10px;
    text-align: center;
    width: clamp(80px, 5vw, 250px);
    height: clamp(115px, 10vh, 130px);
  }
  .hourly-weather-sec .hourly-weather-cont .hourly-weather-elem .weather-icon {
    width: 60px;
    height: 60px;
  }
}/*# sourceMappingURL=styles.css.map */